.pf-v5-c-login__container {
    grid-template-areas: "main";
    grid-template-columns: 34rem;
}

#kc-header-wrapper {
    padding: 20px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-pf body {
    background: url("../img/keycloak-background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    background-image: url(../img/Quoc_Huy_Viet_Nam_Chuan.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-size: contain
}

div.kc-logo-text span {
    display: none;
}

div#kc-form-buttons > input {
    background-color: #C8392B
}